body{
  background-color:  #004d66;
  overflow: hidden;
  color: #002633;
}
h1{
  text-align: center;
}
span{
 color:  #79c9e3;
}
.todo-wrapper{
/* background-color: 	 #abc3cb82; */
padding: 2%;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80vh;
overflow-y: auto;
border-radius: 20px;
box-shadow: 1px 0px 30px 4px #6db7cf;
}
.todo-input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #5fa2b8;
}
.todo-input-item{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  align-items: flex-start;
}
.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input{
  padding: 8px;
  width: 250px;
  border-radius: 4px;
  border: none;
}
.todo-input-item input:focus{
  outline: 3px solid #78c1d9;
  
}
.primaryBtn{
  background-color: #002633;
  color: #78c1d9;
  border: none;
  margin-top: 25px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.5s ease;
  width: 50px;
  cursor: pointer;
}
.primaryBtn:hover{
color: #002633;
background-color: #78c1d9;
transition: 0.5s ease;

}
.true{
  background-color: #002633;
  color: #78c1d9;
  border: none;
  margin-top: 25px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.5s ease;
  width:fit-content;
  cursor: pointer;
  transition: 0.5s ease;

}
.active{
  background-color: #78c1d9;
  color: #002633;
  transition: 0.5s ease;
}
.todo-list{
  display: flex;
  flex-direction: column;
}
.btn-area{
  margin-bottom: 15px;
}
.todo-list-item{
  background-color: #a8dde570;
  display: flex;
  justify-content: space-between;
  align-items: center;
border-radius: 0 15px;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  /* position: relative; */
  box-shadow: 0 3px 5px #002633;
}
.todo-list-item h3{
  font-size: 25px;
  font-weight: bold;
  margin: 0;

}
.todo-list-item p{
  font-size: 17px;
  margin-top: 8px;
font-weight: 500;
color:#002633d7;
}
/* .icons{
  display: flex;
  position: absolute;
  bottom: 51%;
  left: 64%;
} */

.icon{
  font-size: 30px;
  cursor: pointer;
  
  color: rgb(191, 30, 30);
}
.icon:hover{
  color: red;
}

.check-icon{
  font-size: 26px;
  cursor: pointer;
  color: rgb(0,230,120);
  margin-left: 10px;
  
}
.check-icon:hover{
  color: rgb(0, 230, 19);

}



@media(max-width:700px){
  
  .todo-wrapper{
    width: 276px;
    overflow: hidden;
  }
  .todo-input{
    display: grid;
  }
  .todo-input-item input{
width: 200px;
  }
}